h1 {
   /* egenskap:värde; */
   /* Pröva olika "egenskaper:värde" */
    color:orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: aqua;
}