body {
  display:flex;
  /* Det som finns i body orienterar sig
  horisontellt i mitten eftersom
  ingen "flex-direction" är angiven
  är der "row" som är flex-direction.
  Tänk: x-axeln
  */
  justify-content: center;
  /* vissa webbläsare har vita kanter
  närmast skärmkanterna om man inte anger
  "margin:0;" */
  margin:0;
}
.container {
  position: relative; 
  width:80%;
  background-color:yellow;
  border: 1px solid #2d2d2d;
  display:flex;
}

.mydiv {
   
   width: 120px;
   height: 90px;

}
.zindex1 {
  /*   An element with position: relative; 
  is positioned relative to its normal position. */
  position: relative;
  background-color:green;
  border-style: solid;
  z-index: 1;

}

.zindex2 {
  position: relative;
  background-color:red;
  border-style: solid;
  z-index: 1;
  top:40px;
  left:40px;

}
.zindex3 {
  position: relative;
  background-color:black;
  border-style: solid;
  z-index: 1;

}