body {
    display:flex;
    justify-content: center;

}

.container {
    background-color: aqua;
    border-style: solid;
    border-color: brown;
    display:flex;
    flex-direction: column;
    width:80%;

}
header {
    background-color: rgb(87, 10, 123);
    border-style: solid;
    border-color: azure;
    display:flex;
    justify-content: center;
}

.mitten {
    background-color:green;
    border-style: solid;
    border-color:aquamarine;
    display: flex;
    flex-direction: row;
}

article {
    background-color:yellow;
    border-style: solid;
    border-color:darkgoldenrod;
    padding: 5px;
    /*
    margin-left:10px;
    margin-right:10px;
    */
    margin:10px;
   /* width:fit-content;*/
   /*
   display: flex;
   flex-basis: 20%;
   flex-grow: 1;
   flex-shrink: 1;
   */
   display:flex;
}
.left {
    flex-basis: 30%;
   /* flex-grow: 1; */
   flex-shrink: 1; 

}
.right {
   /* flex-basis: 80%; */
   /* flex-grow: 2;*/
    flex-shrink: 2; 
    
}